//STATE ROW
@stateRowMaxWidth: 360px;
@stateRowOuterPadding: 4px;
@stateRowMarginBottom: 5px;
@stateRowPadding: 10px;
@stateRowCircleSize: 12px;

@washmachineImgWidth: 680px;
@washmachineImgHeight: 330px;
@washmachineImgPaddingBottom: 15px;

@iconOpacity:  0.7;

@thumbImgSize: 80px;
@thumbImgMargin: 2px;
@thumbImgBorder: 5px;


@arrowBtnSize: 26px;
@btnUnpickSize: 26px;
@mainImgBorder: 12px;
@mainImgSize: 300px;

@basketsPreviewWidth: 800px;
@basketsPreviewMarginBottom: 100px;
@basketsPreviewWrapperSize: 34px;
@basketsPreviewThumbSize: 30px;